html{color:#939396; 
    background-color: #1D2475;}

body {font-family: "Helvetica","Verdana", sans-serif;
    background-image: url("./image/cse326bg.jpg");
    background-repeat: no-repeat;
    background-position: top right;}

h1 {font-size: 40pt; color: #F7931E; text-shadow: 3px -3px green;}
h2 {color:#F7931E;}

dl {font-size: 70%;}
dt {font-weight: bold; color: #FFF86B;}

first {font-weight: bold; font-size: 150%;}

a {color: #FF4F4F; text-decoration: none;}
a:hover {text-decoration: underline;}

strong{color: #FFF86B;}

blockquote {color: #D1DFEB; text-align: left;}

ol, ul{text-align: left;}
ul {list-style-type: square;}

table,td,th {border: dotted;}
table{border-collapse: collapse;}

.img {border: medium ridge #F7931E;}